.space{
  margin: 10px;
  border: 2px black solid;
  align-content: center;
  width: 8rem;
  height: 8rem;
  display: inline-block

}

.displayMushroomers{
  max-width: 20rem;
  /* align-content: center; */
  display: inline-block;
  /* float: left; */
  margin: 20px;
  padding: 20px
}